<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song list</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<div class="container">
    <div class="row">
        <h2 align="center">List of song</h2>
    </div>
    <div class="row">
        <p>
            <a th:href="@{/create}">
                Add new song
            </a>
        </p>
    </div>
</div>


<body>
<div class="container">
    <div class="row">
        <table class="table table-bordered border-primary">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Singer</th>
                <th>Type</th>
                <th>Link</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            <tr th:each="song : ${songList}">
                <td th:text="${song.getId()}"></td>
                <td th:text="${song.getName()}"></td>
                <td th:text="${song.getSinger()}"></td>
                <td th:text="${song.getType()}"></td>
                <td th:text="${song.getLinkUrl()}"></td>
                <!--                <td><a th:href="@{/edit/{id}(id=${song.getId()})}">edit</a></td>-->


                <!--    Sua = modal -->
                <td>

                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#editModal' + ${song.getId()}">
                        Edit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="editModal + ${song.getId()}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <form th:action="@{/update}" method="post">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Notification</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" th:object="${song}">
                                        <div>
                                            <label>ID</label>
                                            <input class="form-control" readonly type="text" name="editId" th:value="*{id}"/>
                                        </div>
                                        <div>
                                            <label>Name</label>
                                            <input class="form-control" type="text" name="editName" th:value="*{name}"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-outline-success" value="Edit"/>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </td>

                <!--       Xoa = modal         -->
                <td>

                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#deleteModal' + ${song.getId()}">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" th:id="deleteModal + ${song.getId()}" data-bs-backdrop="static"
                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Notification</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Do you want delete song name: <span class="text-info"
                                                                        th:text="${song.getName()}"></span>
                                    <!--                                    with id = <span class="text-info" th:text="${song.getId()}"></span>-->
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/delete/{id}(id=${song.getId()})}"
                                       class="btn btn-secondary">Delete</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </td>
            </tr>
        </table>
    </div>
</div>

</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</html>