<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
</head>
<body>
<p>
    <a th:href="@{/create}">
        Add new user
    </a>
</p>
<p th:text="${message}"></p>
<table border="1" width="500px">
    <tr>
        <th>STT</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr th:each="item, iterater : ${userList}">
        <td th:text="${iterater.count}"></td>
        <td th:text="${item.firstName}"></td>
        <td th:text="${item.lastName}"></td>
        <td th:text="${item.phone}"></td>
        <td th:text="${item.age}"></td>
        <td th:text="${item.email}"></td>
    </tr>
</table>
</body>
</html>